<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto post-form-container">
      <h2 class="h2">スレッド新規登録</h2>
      <%= form_with(url: create_topic_path, local: true, method: :post, html: { class: 'post-form' } ) do |f| %>

        <div class="form-group">
          <%= f.label "スレッド名", class: 'form-label' %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>

       
        <div class="button-group">
          <%= f.submit '登録', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>